<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="hero-unit">
    <h1><p th:text="'Hello, ' + ${name} + '!'"/></h1>
    <p>
      Welcome to the Spring Boot Thymeleaf example post
      Get started quickly by signing up.
    </p>
    <p>
      <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Sign up</a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer">&copy; 2018 Java Development Journal</div>
</div>
</body>
</html>